body {
font-family: 'Raleway', sans-serif;
color: #1C1C1C;
background-color: #FAFAFF;
padding: 2rem;
}

label {
  font-weight: bold;
  font-size: 20;
}

h1 {
  font-family: 'Abril Fatface',cursive;
  text-align: center;
}

h2 {
  font-family: 'Abril Fatface', cursive;
}

#form-wrapper {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
  background-color: #EEF0F2;
  border-radius: 5px;
  border: solid #1C1C1C;
  width: 100%;
  clear: both;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#new-item-form {
  /* background-image: url('../image/canapes.jpg');
  min-height: 340px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 48%;
  position: relative; */

}

#recipe-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
}

.input-button {
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #DADDD8;
  border: 0.1em solid #1C1C1C;
  font-family: inherit;
  box-sizing: border-box;
  text-align:center;
  padding: 0.5rem;
  position: absolute;
  float:left;
}

.input-button:hover {
  background-color: #1C1C1C;
  color:#EEF0F2;
}

.form-item {
  width: 50%;
  clear: both;
  display: inline-block;
  height: 100px
  border: solid;
  padding: 1rem;
}

li {
  text-decoration: none;
  box-sizing: border-box;
  background-color: #DADDD8;
  display: inline-block;
  border-radius: 5px;
  padding: 2rem;
  border: solid #1C1C1C;
  text-align: center;
}

.recipe-title {
  font-family: 'Abril Fatface',cursive;
  font-size: 20px;
}

.recipe-title:visited {
  color: #1C1C1C;
}

.recipe-title:hover {
  background-color: #1C1C1C;
  color:#EEF0F2;
  padding: 20px;
  border-radius: 5px;
}



/* font-family: 'Raleway', sans-serif;
font-family: 'Abril Fatface', cursive; */
